@charset "utf-8";

body{
	background-color:#fff;
	background-image:url(imagens/biblioteca-imagem.jpg);
	background-attachment:fixed;
}

.geral{
	
	width:80%;
	height:1000px;
	margin-left:10%;
	background-image:url(imagens/corpo-pagina.jpg);
	margin-bottom:5px;
}

.imagem-lateral{
	border-right:1px solid #00F;
	width:50px;
	height:1000px;
	background-image:url(imagens/lateral-pagina.jpg);
	float:left;
}

.cabecalho{
	
	height:210px;
	width:450px;
	background-image:url(imagens/cabecalho-lateral.jpg);
	float:left;
	margin-bottom:3px;
}
.parte-esquerda-cabecalho{
	
	height:210px;
	background-image:url(imagens/parte-esquerda-cabecalho.jpg);
	margin-bottom:3px;
}

.menu{
	height:32px;
	margin:0px;
	background-image:url(imagens/background-menu.jpg);
}

.menu ul{
	font:16px Arial, Helvetica, sans-serif;
	list-style:none;
	margin:0px;
	padding:0px;	
	font-weight:bold;
}

.menu ul li{
	float:left;
	position:relative;
	display:block;		
}

.menu ul li a{
	color:#555;
    background-image:url(imagens/background-menu.jpg);
	text-decoration:none;
	margin: 0 1px;
	padding:4px 15px;
	display:block;		
}

.menu li ul{
	display:none;	
}

.menu ul li a:hover{
	background:#066;
	color:#fff;		
}

.menu li:hover ul{
	display:block;
	position:relative;
}

.menu li:hover li{
	float:none;
	font-size:12px;	
}