<div class="imagem-lateral">
            </div>
            <div class="cabecalho">
            </div>
            <div class="parte-esquerda-cabecalho">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Cadastros</a>
                        <ul>
                            <li><a href="#">Cadastros</a></li>
                            <li><a href="#">Cadastros</a></li>
                            <li><a href="#">Cadastros</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="#">Emprestimos</a>
                        <ul>
                            <li><a href="#">Cadastros</a></li>
                            <li><a href="#">Cadastros</a></li>
                            <li><a href="#">Cadastros</a></li>
                        </ul>              
                    </li>
                    
                    <li><a href="#">Teste</a></li>
                    <li><a href="#">Teste</a></li>
                    <li><a href="#">Teste</a></li>
                    
                </ul>
            </div>