@charset "utf-8";

body {
	background-color: #fff;
	background: url(imagens/bg_2.jpg) repeat-x;
	font: 14px Trebuchet MS;
}

.geral {
	width: 80%;
	margin: 10%;
	background: #fff;
	border-radius: 20px;
}

.menu {
	height: 32px;
	margin: 0px;
	background: url(imagens/main_bg.jpg) repeat-x;
	border-radius: 20px;
}

.menu ul {
	font: 16px Trebuchet MS;
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	border-radius: 20px;
	z-index: 10;
}

.menu ul li {
	float: left;
	position: relative;
	display: block;
}

.menu ul li a {
	color: #555;
	background: url(imagens/main_bg.jpg) repeat-x;
	text-decoration: none;
	margin: 0 1px;
	padding: 4px 15px;
	display: block;
	border-radius: 20px;
}

.menu li ul {
	display: none;
}

.menu ul li a:hover {
	background: url(imagens/bg_2.jpg) repeat-x;
}

.menu li:hover ul {
	display: block;
	position: relative;
}

.menu li:hover li {
	float: none;
	font-size: 12px;
}

.formulario {
	padding-top: 70px;
	padding-left: 10px;
	padding-bottom: 100px;
}

.styleCombobox {
	width: 300px;
	background:white;
	height:30px;
}

.styleCombobox span {
	position: absolute;
}

.styleCombobox select {
	width: 100%;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.comboboxFocus { 
	border:dotted 1px #CCC; 
}

.error{
	height: 17px;
	background: #ff9191;
	color: #d90000;
	border-radius: 5px;
	width: 400px;
	vertical-align: middle;
	align-content: center;
	padding: 10px;
	font-weight: bold;
	font-size: 13px;
}

.sucess{
	height: 17px;
	background: #bbffbb;
	color: #009500;
	border-radius: 5px;
	width: 400px;
	vertical-align: middle;
	align-content: center;
	padding: 10px;
	font-weight: bold;
	font-size: 13px;
}

.button{
align-items: flex-start;
text-align: center;
cursor: default;
color: buttontext;
padding: 1px 6px;
border: 2px outset buttonface;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
-webkit-appearance: push-button;
-webkit-user-select: none;
white-space: pre;
-webkit-rtl-ordering: logical;
text-decoration:none;
margin: 0em;
font: -webkit-small-control;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
-webkit-writing-mode: horizontal-tb;
}
